.conteinerPrincipal{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.formBusqueda{
    margin-left: 100px;
}

.noData{
    font-size: 18px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(130, 89, 190);
    text-align: center;
    background-color: rgb(238, 230, 250);
    border-radius: 5px;
    padding: 10px;
}

.formContainer{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-right: 120px;
}

.cardHomeContainer{
    margin-top: 50px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.cardContainer{
    background-color: rgb(238, 230, 250);
    border-radius: 15px;
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.searchLocation{
    font-size: 24px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-top: 30px;
}

.btnBuscar{
    background-color: rgb(238, 230, 250);
    border: 1px solid rgb(216, 197, 245);
    color: rgb(144, 110, 196);
    margin-left: 15px;
}

.location{
    font-size: 24px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-top: 30px;
}

.imgSol{
    width: 60%;
}
.climaTemperatura{
    display: flex;
    align-items: center;
    flex-direction: row;
}
.temperatura{
    display: flex;
    font-size: 18px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-top: 30px;
    margin-right: 15px;
}

.clima{
    display: flex;
    font-size: 18px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-top: 30px;
    margin-left: 15px;
}

.climaToday{
    display: flex;
    align-items: center;
    flex-direction: row;
    padding-bottom: 50px;
}

.today{
    display: flex;
    font-size: 18px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-top: 30px;
    margin-right: 25px;
}

.maxMin{
    display: flex;
    font-size: 18px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-top: 30px;
    margin-left: 25px;
}